docs/schemas/leizilla-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Leizilla XML v0.1 — schema canônico (redesign first-principles).

  Premissas load-bearing (ver docs/SCHEMA.md §0):

  - Lei = árvore de dispositivos. Dispositivo = árvore de dispositivos +
    linha do tempo de redações. Redação = texto + testemunhos (fontes).
  - Tipo do dispositivo deriva do path via token map (SCHEMA.md §4.2).
    XSD não conhece o token map; pattern de path é genérico.
  - Vigência herda do pai (ancestral dispositivo, depois data-publicacao
    da URN). vigente-ate não é armazenado — é inferido.
  - A tag fonte é única em 4 contextos (versao, inicio, revogacao na
    lei, revogacao no dispositivo). Atributo diverge só faz sentido
    em versao; consistency checker valida.
  - Qualidade de parse (LLM falhou, OCR cru) NAO e modelada no XML.
    Lei mal-parseada nao tem parsed item; lei parcialmente parseada
    carrega o texto cru no proprio elemento texto. Audit por
    embeddings (§0.5) + confianca_parse no parsed_meta.json sao as
    fontes de verdade.
  - Processo de parse (método LLM, confiança, divergências detalhadas)
    vai para parsed_meta.json sidecar — não está no XML.

  Invariantes não-expressáveis em XSD ficam no consistency checker
  (scripts/check_schema_consistency.py, M0.2). Ver SCHEMA.md §7.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://leizilla.org/lei/0.1"
           xmlns:leizilla="https://leizilla.org/lei/0.1"
           targetNamespace="https://leizilla.org/lei/0.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.1">

  <!-- ==================================================================
       Tipos simples
       ================================================================== -->

  <xs:simpleType name="DispositivoPath">
    <xs:annotation>
      <xs:documentation>
        Path do dispositivo. Tokens normativos globais (art-N, par-N,
        inc-N, ali-X) ou organizacionais namespaceados (tit-N, cap-N,
        sec-N). Pattern genérico — semântica é dada pelo token map e
        validada pelo consistency checker.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z][a-z0-9-]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UrnLex">
    <xs:annotation>
      <xs:documentation>
        URN LEX brasileira (CGPID, LexML Brasil Parte 2 v1.0, Dez/2008).

        Gramatica canonica:
          urn:lex:br(;LOCAL)*:AUTORIDADE:TIPO:DESCRITOR(!PATH-DISPOSITIVO)*

        - LOCAL: nomes minusculos, sem hifen, espacos viram `.` (ex:
          `rondonia`, `sao.paulo`, `porto.velho`, `distrito.federal`).
        - AUTORIDADE: `federal` / `estadual` / `municipal` para normas
          comuns; ou orgao especifico para resolucoes etc.
        - TIPO: `lei` / `decreto` / `lei.complementar` /
          `medida.provisoria` / `constituicao` / `emenda.constitucional`...
        - DESCRITOR: `YYYY-MM-DD;NUMERO` ou apenas `YYYY-MM-DD` (CF),
          ou `YYYY;NUMERO` (forma reduzida).
        - PATH-DISPOSITIVO: `art5`, `art5_par2`, `art5_par2_inc3`,
          `anexo.1`, etc. — formato LexML idArtigo/idAgregador.

        Ver SCHEMA.md secao 5.6 para exemplos.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="urn:lex:br(;[a-z][a-z0-9.]*)*:[a-z][a-z0-9.]*(;[a-z][a-z0-9.]*)*:[a-z][a-z0-9.]*:\d{4}(-\d{2}-\d{2})?(;[a-z0-9.\-]+)?(![a-z0-9._\-]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IaId">
    <xs:annotation>
      <xs:documentation>
        Identifier IA de raw item. Pattern casa com SCHEMA.md secao 5.1.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="leizilla-raw-[a-z][a-z0-9-]*-[a-z]+-[a-z0-9-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InicioTipo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="data-publicacao"/>
      <xs:enumeration value="texto-lei-alteradora"/>
      <xs:enumeration value="vacatio-legis"/>
      <xs:enumeration value="consolidacao"/>
      <xs:enumeration value="inferencia-llm"/>
      <xs:enumeration value="decisao-judicial"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RevogacaoTipo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="expressa"/>
      <xs:enumeration value="tacita"/>
      <xs:enumeration value="caducidade"/>
      <xs:enumeration value="inconstitucionalidade"/>
      <xs:enumeration value="nao-recepcao"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ==================================================================
       Tipos complexos
       ================================================================== -->

  <xs:complexType name="FonteType">
    <xs:annotation>
      <xs:documentation>
        Testemunha que aponta para um IA raw item. Em uma versao, pode
        carregar elemento texto filho quando diverge=true. Em inicio e
        revogacao, nunca tem texto filho (consistency checker).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="texto" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="ia-id" type="IaId" use="required"/>
    <xs:attribute name="diverge" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="InicioType">
    <xs:annotation>
      <xs:documentation>
        Proveniencia da vigencia. Sub-elemento opcional de versao.
        Obrigatorio quando em difere de data-publicacao da lei e
        nao ha alterado-por (consistency checker valida).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fonte" type="FonteType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="tipo" type="InicioTipo" use="required"/>
  </xs:complexType>

  <xs:complexType name="RevogacaoType">
    <xs:annotation>
      <xs:documentation>
        Evento de revogacao. Posicao estrutural indica escopo: filho
        da lei = revogacao total; filho de dispositivo = revogacao
        parcial. Consistency checker valida exclusividade (revogacao
        total exclui parciais descendentes).

        tipo=caducidade nao tem por (validado por consistency checker;
        XSD permite ambos para nao engessar).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fonte" type="FonteType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="em" type="xs:date" use="required"/>
    <xs:attribute name="por" type="UrnLex" use="optional"/>
    <xs:attribute name="tipo" type="RevogacaoTipo" use="required"/>
  </xs:complexType>

  <xs:complexType name="VersaoType">
    <xs:annotation>
      <xs:documentation>
        Uma redacao historica do dispositivo. em opcional — quando
        omitido, herda do ancestral (consistency checker resolve).

        Multiplas fontes sao permitidas (testemunhas multiplas).
        Quando alguma fonte tem diverge=true, carrega elemento texto
        proprio inline; o texto da versao e o canonico (compilacao
        ETL).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inicio" type="InicioType" minOccurs="0"/>
      <xs:element name="texto" type="xs:string"/>
      <xs:element name="fonte" type="FonteType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="em" type="xs:date" use="optional"/>
    <xs:attribute name="alterado-por" type="UrnLex" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DispositivoType">
    <xs:annotation>
      <xs:documentation>
        Dispositivo recursivo. Tipo deriva do path via token map.

        Cardinalidade:
        - 1+ versao obrigatoria.
        - 0+ dispositivo filhos (recursao).
        - 0..1 revogacao (revogacao parcial deste dispositivo;
          cascateia para descendentes).

        Qualidade de parse (texto cru, OCR ruim) NAO e modelada no XML.
        Lei mal-parseada nao tem parsed item (so raw); lei parcialmente
        parseada carrega o texto cru no proprio elemento texto. Audit
        por embeddings (SCHEMA.md §0.5) e confianca_parse no
        parsed_meta.json sao as fontes de verdade pra qualidade.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versao" type="VersaoType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="dispositivo" type="DispositivoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="revogacao" type="RevogacaoType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="path" type="DispositivoPath" use="required"/>
  </xs:complexType>

  <!-- ==================================================================
       Elemento raiz
       ================================================================== -->

  <xs:element name="lei">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Raiz do Leizilla XML.

          - urn-lex opcional: ausente em fallbacks (lei sem data
            extraivel).
          - revogacao opcional na raiz: presenca = lei totalmente
            revogada; exclui revogacao em dispositivos descendentes
            (consistency checker valida).
          - 1+ dispositivo filhos.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="revogacao" type="RevogacaoType" minOccurs="0"/>
        <xs:element name="dispositivo" type="DispositivoType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="schema-version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="urn-lex" type="UrnLex" use="optional"/>
      <xs:attribute name="vigente-em" type="xs:date" use="required"/>
    </xs:complexType>

    <!--
      Path do dispositivo é identificador lógico (deriva urn_dispositivo,
      versao_id). Deve ser único em toda a árvore de dispositivos da lei.
    -->
    <xs:unique name="dispositivoPathUnique">
      <xs:selector xpath=".//leizilla:dispositivo"/>
      <xs:field xpath="@path"/>
    </xs:unique>
  </xs:element>

</xs:schema>
